// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "global";

.cart-wrapper {
  margin: 30px 0;
  .cart-list {
    padding: 0;
    margin-top: 20px;
    .cart-item {
      overflow: auto;
      border: 1px solid #ebebeb;
      padding: 10px 0;
      .regular-checkbox {
      	font-size: 18px;
      }
      .price, .info, .quantity {
        text-align: center;
        margin-top: 7%;
      }
      .quantity {
        text-align: left;
        margin-top: 10%;
      }
      .image {
        text-align: center;
        img {
          width: 80%;
        }
      }
    }
  }
  .total {
    margin-top: 20px;
    font-weight: bold;
    .button-base {
      margin: 0
    }
  }
}

/* checkout page */

.checkout-page {
  margin-bottom: 30px;
  .media {
    border-bottom: 1px solid #ebebeb;
    .media-heading {
      margin-top: 5%;
    }
  }
  .total {
    margin-top: 15px;
  }
}
