// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "global";

.cart-wrapper {
  margin: 30px 0;
  .cart-list {
    padding: 0;
    margin-top: 20px;
    .cart-item {
      overflow: auto;
      border: 1px solid #ebebeb;
      padding: 10px 0;
      .regular-checkbox {
      	font-size: 18px;
      }
      .price, .info, .quantity {
        text-align: center;
        margin-top: 7%;
      }
      .quantity {
        text-align: left;
        margin-top: 10%;
      }
      .image {
        text-align: center;
        img {
          width: 80%;
        }
      }
    }
  }
  .total {
    margin-top: 20px;
    font-weight: bold;
    .checked-all {
      padding-left: 30px;
    }
    .button-base {
      margin: 0
    }
  }
}

/* checkout page */

.checkout-page {
  margin-bottom: 30px;
  .media {
    border-bottom: 1px solid #ebebeb;
    .media-heading {
      margin-top: 5%;
    }
  }
  .disclaimer-content-wrapper, .verification-content-wrapper {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background: rgba(0,0,0,0.3);
    z-index: -10;
    display: none;
    .disclaimer-content, .verification-content {
      max-width: 700px;
      padding: 15px;
      position: fixed;
      border: 1px solid #ebebeb;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 1px 3px rgba(0,0,0,.3);
    }
  }

  .hint {
    font-weight: bold;
    margin-bottom: 20px;
  }

  .code {
    width: 400px;
    .verification-code {
      width: 68%;
      display: inline-block;
      float: left;
    }
    .new_verification {
      width: 30%;
      display: inline-block;
      float: right;
    }
  }

  .code-success-message {
    color: red;
  }

  .code-submit {
    width: 100%;
    margin-top: 20px;
  }

  .total {
    margin-top: 15px;
  }
}
