// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.invoice-information {
  display: none;
}

.card-body {
  overflow: auto;
  background: #ebebeb;
  padding: 20px;
  .select-options {
    display: inline-block;
    padding-left: 20px;
    width: 100px;
  }
  .address-update {
    padding-top: 20px;
  }
}

.checked-order {
  color: green;
}

.checking-order {
  color: red;
}

.order-no-information {
  overflow: auto;
  border: 1px solid #ebebeb;
  margin: 15px 0;
  padding: 5px 0;
}

.bank-detail-information, .order-detail-information {
    border: 1px solid #ebebeb;
    padding: 20px;
}
