<span class="pull-right"><%= link_to("返回订单列表", account_orders_path, class: "btn btn-default btn-sm") %></span>

<h4>付款证明</h4>

<hr>

<%= render :partial => "certificate_item", :collection => @certificates, :as => :certificate %>
