<span class="pull-right"><%= link_to("返回订单列表", account_orders_path, class: "btn btn-default btn-sm") %></span>
<div class="page-header">
  <h5><i class="fa fa-list-alt"></i> 订单信息</h5>
</div>

<div class="order-no-information">
  <div class="col-md-4"><strong>订单ID：<%= @order.order_no %></strong></div>
  <div class="col-md-4"><strong>支付方式：人民币转账</strong></div>
  <div class="col-md-4"><strong>订单应付总金额：<%= render_product_list_total_price(@order.product_lists) %></strong></div>
</div>

<div class="page-header">
  <div class="pull-right"><%#= link_to("添加付款证明", new_order_certificate_path(@order.token), class: "btn btn-info btn-sm") %></div>
  <h5><i class="fa fa-credit-card"></i> 付款证明</h5>
</div>

<% if @order.certificates.present? %>
  <%= render :partial => "certificate_item", :collection => @certificates, :as => :certificate %>
<% else %>
  <p class="label label-warning">还未上传付款证明</p>
<% end %>
