.admin-page {
  overflow: auto;
  .col-md-2 {
    padding: 0;
    // border: 1px solid #ebebeb;
    .list-group-item {
      text-align: center;
      background: #777;
      padding: 12px 15px;
      a {
        color: #fff;
        text-decoration: none;
      }
      &:first-child {
        border-radius: 0;
      }
      &:last-child {
        border-radius: 0;
      }
      &:hover {
        background: #444;
      }
    }

  }
  .col-md-9 {
    border: 1px solid #ebebeb;
    padding: 15px;
  }

}
