/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "global";

  /* body wrapper */
  .body-wrapper {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 10px;
    overflow: auto;
  }

  /* Message hint  */
  #message .modal-content {
    padding: 20px 50px;
    text-align: center;
    color: $color-button-secondary;
  }

  /* flashes */

  .alert {
    border-radius: 0;
  }


 /*
  Navbar style
 */

  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 5px;
  }

  .navbar-inverse {
    .navbar-wrapper {
      padding: 0;
      .fa-shopping-cart {
        color: #fff;
        font-size: 18px;
      }
    }
  }

  .navbar-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  /*

    Mailboxer style

  */
  .messages {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 1em;
    margin-top: 1em;
  }


  /*
    Footer style
  */
  .footer {
    overflow: hidden;
    border-top: 1px solid #ebebeb;
    width: 100%;
    padding: 50px;
  }

  /*
    payment description
  */
  .payment-desc {
    clear: both;
    padding: 30px 15px;
    .payment-label {
      color: #529BD7;
    }
  }

  /* table style */

  table {
  	background: #f5f5f5;
  	border-collapse: separate;
  	box-shadow: inset 0 1px 0 #fff;
  	font-size: 12px;
  	line-height: 24px;
  	margin: 20px auto;
  	text-align: left;
  	width: 100%;
  }

  th {
  	background: linear-gradient(#777, #444);
  	border-left: 1px solid #555;
  	border-right: 1px solid #777;
  	border-top: 1px solid #555;
  	border-bottom: 1px solid #333;
  	box-shadow: inset 0 1px 0 #999;
  	color: #fff;
    font-weight: bold;
  	padding: 10px 15px;
  	position: relative;
  	text-shadow: 0 1px 0 #000;
  }

  th:after {
  	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
  	content: '';
  	display: block;
  	height: 25%;
  	left: 0;
  	margin: 1px 0 0 0;
  	position: absolute;
  	top: 25%;
  	width: 100%;
  }

  th:first-child {
  	border-left: 1px solid #777;
  	box-shadow: inset 1px 1px 0 #999;
  }

  th:last-child {
  	box-shadow: inset -1px 1px 0 #999;
  }

  td {
  	border-right: 1px solid #fff;
  	border-left: 1px solid #e8e8e8;
  	border-top: 1px solid #fff;
  	border-bottom: 1px solid #e8e8e8;
  	padding: 10px 15px;
  	position: relative;
  	transition: all 300ms;
    vertical-align: middle;
    .thumbnail {
      margin-bottom: 0;
    }
  }

  td:first-child {
  	box-shadow: inset 1px 0 0 #fff;
  }

  td:last-child {
  	border-right: 1px solid #e8e8e8;
  	box-shadow: inset -1px 0 0 #fff;
  }

  tr:nth-child(odd) td {
  	background: #f1f1f1;
  }

  tr:last-of-type td {
  	box-shadow: inset 0 -1px 0 #fff;
  }

  tr:last-of-type td:first-child {
  	box-shadow: inset 1px -1px 0 #fff;
  }

  tr:last-of-type td:last-child {
  	box-shadow: inset -1px -1px 0 #fff;
  }
