/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "global";

  /* Message hint  */
  #message .modal-content {
    padding: 20px 50px;
    text-align: center;
    color: $color-button-secondary;
  }


 /*
  Navbar style
 */

  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 5px;
  }

  .navbar-inverse {
    .navbar-wrapper {
      padding: 0;
      .fa-shopping-cart {
        color: #fff;
        font-size: 18px;
      }
    }
  }

  /* body wrapper */

  .body-wrapper {
    margin-top: 20px;
  }

  /*
    Footer style
  */
  .footer {
    overflow: hidden;
    border-top: 1px solid #ebebeb;
    width: 100%;
    padding: 50px;
  }

  /*
    payment description
  */
  .payment-desc {
    clear: both;
    padding: 30px 15px;
    .payment-label {
      color: #529BD7;
    }
  }
