// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-wrapper {
  margin: 30px 0;
  .cart-list {
    padding: 0;
    margin-top: 20px;
  }
  .cart-item {
    overflow: auto;
    border: 1px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    .image, .price, .info, .quantity, .remove {
      text-align: center;
    }
    .image {
      img {
        width: 100%;
      }
    }
    .quantity-action {
      border: 1px solid #ebebeb;
      .button {
        border: none;
        padding: 5px 10px;
        font-size: 16px;
        a {
          color: #000;
          text-decoration: none;
        }
      }
      .quantity-value {
        max-width: 60px;
        padding: 5px 20px;
        border: none;
        text-align: center;
        outline: none;
      }
    }
  }
  .total {
    margin-top: 20px;
    font-weight: bold;
    .btn {
      padding: 6px 20px;
    }
  }
}
