<footer class="footer">
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 footer-wrapper">
    <div class="footer-left col-md-6">
      <p class="logo"><%= image_tag("logo2.png") %></p>
    </div>
    <div class="footer-right col-md-6">
      <h4 class="contact">联系我们 / CONTACT US</h4>
      <p class="mobile">电话：4008-619-111  </p>
      <p class="address">地址：成都高新区吉泰五路花样年华香年广场T3栋20层02号</p>
      <p class="email">邮箱： 332300439@qq.com</p>
      <p class="website">网址：http://www.365btc.com.cn</p>
    </div>
    <div class="clearfix"></div>
    <hr>
    <p class="text-center">蜀ICP备17020640号   四川天天慧盈科技有限公司     All Rights Reserved</p>
  </div>
</footer>
