<div class="progressbar-container">
  <ul class="progressbar">
    <li class="active cart-information">购物车</li>
    <li class="order-information">订单信息</li>
    <li class="delivery-information">物流信息</li>
    <li class="order-submit">订单支付</li>
    <li class="order-submit-success">成功提交订单</li>
  </ul>
</div>
